//- Replace these variables to generate a new page
- var title = "Open Standards Code Sprint";
- var date = "July 10-12, 2024";
- var deadline = "Wednesday, July 3 2024, 17:00 BST";
- var tagline = "Open to all OGC APIs and data encodings";
- var registration_link = "https://portal.ogc.org/public_ogc/register/2407_code_sprint.php";
- var schedule_link = "https://github.com/opengeospatial/developer-events/wiki/July-2024-Open-Standards-Code-Sprint#schedule";
- var about = "A Code Sprint is a three day virtual or hybrid event, where dozens of developers from around the world come together to code and share their ideas. The main goals of this code sprint are to support the development of OGC (draft) Standards, as well as software which implements those Standards. In addition, it also aims to create awareness about the Standards and software projects. This code sprint takes place on Geovation (London, UK) and at the OGC-events Discord server. It is hosted by the Open Geospatial Consortium (OGC) and Geovation.";
- var wiki_link = "https://github.com/opengeospatial/developer-events/wiki/July-2024-Open-Standards-Code-Sprint";
- var fork_link = "https://github.com/opengeospatial/dev-ogc-org-sprint-landing-24";
- var location = "Geovation (London, UK)";
- var location_link = "https://geovation.uk/"
-
    var speakers = [
        {"src": "assets/img/gobe.jpeg", "alt": "Gobe", "h3": "Gobe Hobona",
        "p": "Director of Product Management, Standards OGC. "},
        {"src": "assets/img/jo.jpeg", "alt": "Joana", "h3": "Joana Simoes",
        "p": "Developer Relations at OGC."},
        {"src": "assets/img/Sam.jpg", "alt": "Sam", "h3": "Sam Meek",
        "p": "Chief Technology Officer at HELYX, Co-Chair Data Quality DWG."},
        {"src": "assets/img/peter.jpg", "alt": "Peter", "h3": "Peter Rushforth",
        "p": "Technology Advisor at Natural Resources Canada, MapML Editor."},
        {"src": "assets/img/ivana_foto_web.png", "alt": "Ivana", "h3": "Ivana Ivanova",
        "p": "Co-convenor in Ontology Maintenance at ISO/TC211,  Co-Chair Data Quality DWG."},        
        ];

- var start_date = "2024/07/10 09:00:00";
